.layout-bar {

  background: rgba(229,120,120,0.7);
  position: fixed;

  :global .material-icons {
    color: white !important;
  }

  :global svg {
    color: white !important;
  }
  .layout-bar-menu{
  	span{
  		color: white;
  		font-size: 20px;
		font-weight: 300;
		display: block;
		float: left;
		margin: 0 20px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-transform: uppercase;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		cursor: pointer;

  	}
  }
}
