.home {

  &__banner {
    height: 400px;
  }

  &__logo {
    background: url('../../assets/logo2.png') no-repeat;
    width: 128px;
    height: 128px;
    background-size: 100%;
    margin: 0 auto;
  }

}

