.modal {

  width: 100% !important;

  & > div > div {

    @media (max-width: map(layout, breakpoints, sm)) {
      width: 100% !important;
    }

  }

  &__header {

  }

  &__footer {

  }

  &__body {
    width: 100%;
  }

  &__overlay {

  }

}
