.modal {

  & > div > div {

    @media (max-width: map(layout, breakpoints, sm)) {
      width: 100% !important;
    }

  }

  &__header {

  }

  &__footer {

  }

  &__body {

    @media (max-width: map(layout, breakpoints, sm)) {
      padding: 0 2px 15px !important;
    }

  }

  &__overlay {

  }

}
