.modal {

  & > div > div {

    @media (max-width: map(layout, breakpoints, sm)) {
      width: 100% !important;
    }

  }

  &__header {

    padding: 10px 25px !important;

    @media (max-width: map(layout, breakpoints, sm)) {
      padding: 5px 10px !important;
    }

  }

  &__footer {

  }

  &__body {

    padding: 10px 5px 15px !important;

    @media (max-width: map(layout, breakpoints, sm)) {
      padding: 0 2px 15px !important;
    }

  }

  &__overlay {

  }

}
