.task-icon {

  padding: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 7px;

  &__avatar,
  &__name {
    display: inline-block;
  }

  &__name {
    margin-left: 15px;
  }

  &--selected {
    background-color: lightsteelblue;
  }

}
