.title-with-edit-modal-header {

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    padding-left: 5px;
    flex-grow: 1;

    h5 {
      margin: 0 !important;
    }

  }

  &__editIcon {
    flex-basis: content;
  }

}
