.content-section {

  margin: 0 auto;
  padding: 30px 10px;
  overflow: hidden;

  &--alternate {
    background-color: #fbfbfb;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  &__header {
    text-align: center;
  }

  &--centered{
    text-align: center;
  }

  &__content {
    max-width: 986px;
    margin: 15px auto 0;
  }

}
