.content-section {

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  &--alternate {
    background-color: #53346D;
  }

  &__content {
    max-width: 986px;
    margin: 0 auto;
  }

}