@import '../../styles/media.pcss';

.responsive-box {

  margin: 0 auto;

  @media (--atLeastXs) {
    max-width: map(layout, breakpoints, xs);
    padding: 0 5px;
  }

  @media (--atLeastSm) {
    max-width: map(layout, breakpoints, sm);
    padding: 0 10px;
  }

  @media (--atLeastMd) {
    max-width: map(layout, breakpoints, md);
    padding: 0 15px;
  }

  @media (--atLeastLg) {
    max-width: map(layout, breakpoints, lg);
    padding: 0 30px;
  }

}
