.carousel-item {
  display: table;
  width: 100%;
  height: 100%;
  max-width: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  &__content {
    display: table-cell;
    vertical-align: middle;
  }

}
