.guests-view {

  &__header {
    background-color: #0097a7;

    th {
      color: white !important;
    }

  }

  &__position-row, &__position-header {
    width: 20px;

    @media (max-width: map(layout, breakpoints, md)) {
      display: none;
    }
  }

  &__email-row, &__email-header {

    @media (max-width: map(layout, breakpoints, md)) {
      display: none;
    }

  }

  &__actions-row, &__actions-header {
    width: 25px;
  }

}
