.account-panel {

  padding: 10px 10px 2px;

  &__avatar {
    display: inline-block;
    font-size: 40px !important;
    line-height: 40px;
    border-radius: 5%;
    height: 100px;
    width: 100px;
  }

  &__details {
    display: inline-block;
  }

}
