a {
    color: inherit;
    font-weight: normal;
    text-decoration: inherit;
}

.root {

}

h2 {
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    line-height: 38px;
}

h3 {
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 25px;
    line-height: 27px;
}