.carousel {
  width: 100%;

  &__item-wrapper {
    height: 100%;
  }

  * {
    min-height: 0;
    min-width: 0;
  }

  :global {

    .slick-dots {
      bottom: 10px;
    }

    .slick-prev {
      left: 5px;
    }

    .slick-next {
      right: 5px;
    }

  }

}
