.root {
    background-size: cover;
    background: url('../assets/background.jpg') no-repeat fixed center;
}

.content {
    margin: 0 auto;
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1024px;
}

.header {
    background-color: transparent;
}