.alert {

  &--success {
    background-color: lightgreen;
  }

  &--warning {
    background-color: yellow;
  }

  &--info {
    background-color: lightblue;
  }

  &--error {
    background-color: red;
  }

}
