.content-placeholder {

  position: absolute;
  display: table;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 30em;

  &__frame {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__icon {

    display: inline-block;

    svg {
      height: 160px !important;
      width: 160px !important;
    }

  }

  &__details {
    text-align: center;
  }

}
