.content-placeholder {

  display: table;
  width: 100%;
  min-height: 600px;

  &__frame {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__icon {

    display: inline-block;

    svg {
      height: 160px !important;
      width: 160px !important;
    }

  }

  &__details {
    text-align: center;
  }

}
