.parallax-content {
  height: 500px;
  background: no-repeat fixed center;
  background-size: cover;
  display: table;
  width: 100%;


  &__content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

}